*, *::after, *::before {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #494949;
}

html {
	height: 100%;
	min-height: 100%;
}

body {
	font-size: 0.95rem;
	height: 100%;
	margin: 0;
	padding: 0;
    background: #FFFFFF;
}

h1 {
	font-size: 2rem;
	-webkit-margin-bottom:0.2em;
	margin-bottom: 0.2em;
	padding-top: 0.5em;
}

h2 {
	font-size: 1.5rem;
	-webkit-margin-bottom:0.2em;
	margin-bottom: 0.2em;
	padding-top: 0.5em;
	margin-top: 0em;
}

h3 {
	font-size: 1rem;
	-webkit-margin: 1em 0 0.2em;
	margin: 1em 0 0.5em;
	font-weight: 500;
}

h4 {
	-webkit-margin: 0.2em 0;
	margin: 0.2em 0;
	font-weight: 500;
}

nav a {
	display: block;
}

ul {
	margin: 0.5em 0 0.8em;
    padding: 0 2.2em 0.2em;
}

ul li {
	list-style-type: none;
}

ol {
	margin: 0.5em 0 0.8em;
    padding: 0 2.2em 0.2em;	
}

ol li {
	list-style-type: lower-roman;
}

a {
	text-decoration: none;
	color: #E85E5E;
	-webkit-transition:color 0.3s;
	transition: color 0.3s;
}

a:hover, a:focus {
	color: #C13838;
}

code {
	font-family: monospace;
	font-size: 1.2em;
	display: inline-block;
    padding: 0.8em 0.8em;
    background: #D6D6D6;
    width: 100%;
}

a[href^="http://"]:after, 
a[href^="https://"]:after {
	  content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
	  margin: 0 0 0 5px;
}


*[hidden], .hidden {
	display: none;
}

/* Christy's Banner Stuff, Don't Delete!! */

/* BANNER is used for Home Banner */
/* BANNER2 is a boxed banner for text with a border */

.banner, .banner2, .bannerdetails {
  position: relative;
  width: 100%;
}

.banner {
  z-index: 1;
  height: 90%;
  background: 
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8)
    ),
    url("../img/cover.jpg");
   background-size: cover;
   width: 100%;
   margin-left: auto;
   margin-right: auto;

   display: inline-block;
}

.banner h1 {
	margin-top: -12rem;
}

.banner2 {
  	height: 50%;
 	background-color: white;
}

.bannerdetails {
	background: 
    linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8)
    ),
    url("../img/fourangle-normal.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    
}

.two {
	background: 
    linear-gradient(
      to left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/inStore.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    padding-bottom: 5rem;
}

.two h1 {
	padding-top: -10rem;
}

.gameone {
	background: 
    linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("../img/climb.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    padding-bottom: 5rem;
}


.gametwo {
	background: 
    linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("../img/doctor.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    padding-bottom: 5rem;
}
.gamedetails {
	float:left;

}

.gamedetails img {
	display: block;
	padding: 0rem;
	height: 25px; 
	width: 25px; 
	float: left;
	overflow: hidden;
}

.gamedetails p {
	word-wrap: break-word;
	text-align: left;
	font-weight: 300;
	line-height: 1.5rem; 
	letter-spacing: 0.1rem;
}

.gamedetails h2 {
	text-align: left;
	font-weight: 700;
	line-height: 1rem; 
	letter-spacing: 0.1rem;
	padding-bottom: 1rem;
}


.gamedetails h3 {
	text-align: left;
	font-weight: 500;
	line-height: 1rem; 
	letter-spacing: 0.1rem;
}

.gamedetails h4 {
	text-align: left;
	line-height: 2rem; 
	letter-spacing: 0.1rem;
}

.banner h1, .banner-content3 h1 {

    margin-top: 1rem;
    text-align: center;
    margin-bottom: 0rem;
	color: #fff;
	line-height: 2rem; 
	letter-spacing: 0.1rem;
	text-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.banner h2, .banner-content3 h2 {

    margin-top: 1rem;
    text-align: center;
    font-weight: 300;
	color: #fff;
	line-height: 2rem; 
	letter-spacing: 0.1rem;
	text-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.banner-content3 h1 {
	text-align: left;
	margin-top: -0.1rem;
	margin-bottom: 1rem;
}


.banner h3, .banner-content3 h3, .banner-content3 h4 {

    margin-top: 1rem;
    padding: 0rem 4rem 0rem 4rem;
    text-align: center;
    font-weight: 300;
	color: #fff;
	line-height: 2rem; 
	letter-spacing: 0.1rem;
	text-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.banner-content3 h3 {
	text-align: left;
	max-width: 100px;
	margin: 0 auto 30px;
	line-height: 1.5rem;
	margin-top: 10rem;
	background: rgba(0, 0, 0, 0.45);
  	display: inline;
  	padding: 0.1rem;
}

.banner-content3 h4 {
	font-style: italic;
	padding: 0rem 0rem 0rem 0rem;
	line-height: 1.3rem;
	text-align: left;

}

.banner-content {
	width: 25%;
    margin: 0 auto;
    padding: 13vw 0;

}



.banner-content2, .banner-content3 {
	position: relative;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom:5rem;
    padding: 13vw 5vw 0;
    padding-bottom: 3vw;

}

.banner-content2 {
	border-style: solid;
    border-width: 5px;
    border-color: #BDBDBD;
    text-align: center;
}

/*homepage bannercontent2 extension*/
.width {
	width: 70%;
}

.aboutarea {
	border-style: solid;
    border-width: 5px;
    border-color: #BDBDBD;
    
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding: 0rem 0rem 35rem 0rem;

    text-align: center;
}

.gameabout {
	padding-left: 2rem;
}

.aboutarea h1 {
	line-height: 2rem; 
	letter-spacing: 0.1rem;
}

.aboutcontent {

	margin-top: 2rem;
	margin-bottom: 0rem;
	margin-left: auto;
	margin-right: auto;
}

.aboutcontent img {
	padding: 2rem;
	width: 100%;
}

.aboutcontent h1 {
	margin-top: -1rem;
	z-index: 10;
}

.aboutcontent p {
	padding-left: 2rem;
	padding-right: 2rem;
	font-weight: 300;
	line-height: 1.5rem; 
	letter-spacing: 0.1rem;
}

.banner-content3 {
	padding: 5vw 5vw 0;
	width: 90%;
	padding-bottom: 1vw;
}



.banner-content2 h1 {
    margin-bottom: 0rem;
   	margin-top: -7rem;
	line-height: 2rem; 
	letter-spacing: 0.1rem;
}

.banner-content2 h2 {
    margin-bottom: 0rem;
	color: #2C3E50;
	margin-top: -2rem;
	line-height: 2rem; 
	letter-spacing: 0.01rem;
}

.banner-content2 h3 {
    margin-bottom: 2rem;
    max-width: 70rem;
	color: #2C3E50;
	line-height: 1.7rem; 
	letter-spacing: 0.05rem;
	font-weight: 400;
}




/*End of Christy's Banner Stuff */



.text-block {
	padding: 0rem 3rem 0rem 3rem;
}

.text-block .submit-button {
	float: right;
	width: 45%;
}

.price {
	width: 100%; 
	margin: auto;
}

.submit-button {
	padding: 0.6em;
	background: #E85E5E;
	color: #FFFFFF;
	text-align: center;
    font-size: 1.1rem;
	border-radius: 7px;
	-webkit-transition:background 0.3s;
	transition: background 0.3s;
	display: inline-block;
	border: none;
    width: 100%;
    margin: 1rem 0;
}

.submit-button.times {
	margin: 0;
	font-size: 1rem;
}

.submit-button:hover, .submit-button:focus {
	background: #C13838;
	color: #FFFFFF;
}

label {
	display: block;
    font-size: 0.8rem;
    padding: 0.2em 0;
}

input[type="text"] {
	width: 100%;
    padding: 0.35em;
    border: #c3c3c3 solid 1px;
    font-size: 0.85rem;
}

.reserve-form input[type="text"] {
	margin: 0 0 0.5rem;
}

select:focus, input[type="text"]:focus {
    outline-offset: 0px;
    outline-color: #5786b5;
    outline-style: solid;
    outline-width: 1px;
}

select {
    border: #c3c3c3 solid 1px;
    padding: 0.35em;
    width: 100%;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
}

figure {
	margin: 0;
	display: inline-block;
	float: left;
}

img {
	width: 100%;
	height: auto;
	transition: 0.3s ease;
    backface-visibility: hidden;
}

.image-hover:hover a img, .image-hover:focus a img {
	opacity: 0.5;
}

.logo img {
    width: initial;
}

.game-icons img {
	width: initial;
}

.game-icons {
	display: inline-block;
	float: right;
}

.newicon {
	float:left;
	width: 100%;
	padding-bottom: 1rem;
}
nav .nav-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 1350px;
}

.nav-bar.style-guide-render {
	position: relative;
	width: initial;
	background: none;
}

.nav-bar.style-guide-render a {
	color: #FFFFFF;
	-webkit-transition:background 0.5s;
	transition: background 0.5s;
	display: inline-block;
	background: #2C3E50;
	float: left;
	padding: 1.1em 2em;
}

.nav-bar.style-guide-render.reserve a, .nav-bar.style-guide-render a.reserve {
	color: #FFFFFF;
	-webkit-transition:background 0.5s;
	transition: background 0.5s;
	display: inline-block;
	background: #E85E5E;
	float: left;
	padding: 1.1em 2em;
}

.nav-bar {
	position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    background: #2C3E50;
    height: 53px;
    z-index: 10;
}

.nav-bar a {
	color: #FFFFFF;
	-webkit-transition:background 0.5s;
	transition: background 0.5s;
	display: inline-block;
	background: #2C3E50;
	float: left;
	padding: 1.1em 2em;
}



.nav-bar a.logo {
	padding: 0;
	height: 50px;
}

.nav-bar.reserve a, .nav-bar a.reserve {
	color: #FFFFFF;
	-webkit-transition:background 0.5s;
	transition: background 0.5s;
	display: inline-block;
	background: #E85E5E;
	float: left;
	padding: 1.1em 2em;
}

.nav-bar a.reserve {
    float: right;
}

.nav-bar a:hover, .nav-bar a.nav-button:focus {
	background: #3B556F;
	color: #FFFFFF;
}

.nav-bar.reserve a:hover, .nav-bar.reserve a.nav-button:focus, .nav-bar a.reserve:hover, .nav-bar.reserve a.reserve:focus {
	background: #C13838;
	color: #FFFFFF;
}

.container {
	min-height: 100%;
	position: relative;
}

footer {
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 85px;
}

footer .copyright {
    text-align: center;
    font-size: 0.8rem;
    color: #C7C7C7;
}

footer a {
	color: #C7C7C7;
}

div.product {
	margin-right: 1.1em;
	border: #BFBFBF 1px solid;
	border-radius: 5px;
	padding: 0.85em;
}

.price {
	font-size: 1.55rem;
	text-align: center;
	margin-bottom: 0.5em;
}

.col-render {
    display: block;
    background: #BDBDBD;
    padding: 2em 0.2em;
    text-align: center;
}

.col-render p {
	-webkit-margin: 0;
	margin: 0;
}

.colour-red {
	background: #E85E5E;
}

.colour-blue {
	background: #2C3E50;
}

.colour-blue p, .colour-red p {
	color: #FFFFFF;
}

.body-content {
	display: block;
	position: relative;
	min-height: 100%;
	max-width: 1250px;
	margin: 0 auto;
	background: #FFFFFF;
    padding: 3.3rem 2rem 7rem;
}

.body-content.front-page {
	padding: 1rem 2rem 5rem;
}

.call-to-action {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: 500;
}

.game-title {
	font-size: 1.05rem;
	font-weight: 500;
}

.player-num {
    display: inline-block;
    vertical-align: top;
    padding-right: 0.3rem;
}

.body-content.style-guide {
	min-height: 100%;
	max-width: 1800px;
}

.rates {
	padding-top: 0;
}

#confirmation-message p {
	font-size: 1.3rem;
	line-height: 1.7rem;
}