body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:540px;
  width:400px;
  height:235px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:235px;
}
#u1 {
  position:absolute;
  left:2px;
  top:110px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:42px;
  width:400px;
  height:247px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:247px;
}
#u3 {
  position:absolute;
  left:2px;
  top:116px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:42px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:42px;
}
#u6 {
  position:absolute;
  left:2px;
  top:13px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:14px;
  top:8px;
  width:26px;
  height:26px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u8 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:152px;
  top:8px;
  width:96px;
  height:26px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:26px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:120px;
  top:190px;
  width:140px;
  height:50px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:78px;
  top:96px;
  width:244px;
  height:74px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:74px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
}
#u15 {
  position:absolute;
  left:20px;
  top:315px;
  width:360px;
  height:154px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:154px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:120px;
  top:479px;
  width:140px;
  height:40px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:775px;
  width:400px;
  height:160px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:160px;
}
#u21 {
  position:absolute;
  left:2px;
  top:72px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:131px;
  top:795px;
  width:138px;
  height:16px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:156px;
  top:814px;
  width:88px;
  height:16px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:176px;
  top:834px;
  width:49px;
  height:16px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:152px;
  top:885px;
  width:98px;
  height:16px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:89px;
  top:634px;
  width:212px;
  height:74px;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:74px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588);
}
#u32 {
  position:absolute;
  left:124px;
  top:718px;
  width:140px;
  height:40px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
