*, *::after, *::before {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #494949;
}

body {
	font-size: 0.9rem;
	font-size: 0.9rem;
	padding: 0 2em;
}

h2 {
	-webkit-margin-bottom:0.2em;
	margin-bottom: 0.2em;
	padding-top: 0.5em;
}

h3 {
	-webkit-margin: 1em 0 0.2em;
	margin: 1em 0 0.2em;
	font-weight: 500;
}

h4 {
	-webkit-margin: 0.2em 0;
	margin: 0.2em 0;
	font-weight: 500;
}

nav a {
	display: block;
}

ul {
	margin: 0.5em 0 0.8em;
    padding: 0 2.2em 0.2em;
}

ul li {
	list-style-type: none;
}

ol {
	margin: 0.5em 0 0.8em;
    padding: 0 2.2em 0.2em;	
}

ol li {
	list-style-type: lower-roman;
}

a {
	text-decoration: none;
	color: #E85E5E;
	-webkit-transition:color 0.3s;
	transition: color 0.3s;
}

a:hover, a:focus {
	color: #C13838;
}

.grid-col-1of3 {
	width: 100%;
}


[class^='grid-col-'] {
	float: left;
	padding: 0; 
}

[class^='grid-col-'] p {
	margin-top: 0.2em;
}

.grid-row::after {
	content: "";
	display: block;
	clear: both;
}


@media (min-width: 60em) {
	.grid-col-1of3 {
		width: 30%;
		margin-right: 1em;
	}

	.grid-col-1of3:first-child {
		margin-left: 0em;
	}

	.grid-col-1of3:last-child {
		margin-right: 0em;
	}
}

code {
	font-family: monospace;
	font-size: 1.2em;
	display: inline-block;
    padding: 0.8em 0.8em;
    background: #D6D6D6;
    width: 100%;
}

a.submit-button {
	padding: 0.8em;
	background: #E85E5E;
	color: #FFFFFF;
	border-radius: 7px;
	-webkit-transition:background 0.3s;
	transition: background 0.3s;
	display: inline-block;
}

a.submit-button:hover, a.submit-button:focus  {
	background: #C13838;
}

label {
	display: block;
    font-size: 0.8rem;
    padding: 0.2em 0;
}

input[type="text"] {
	width: 100%;
    padding: 0.35em;
    border: #c3c3c3 solid 1px;
}

.nav-bar a {
	color: #FFFFFF;
	-webkit-transition:background 0.5s;
	transition: background 0.5s;
	display: inline-block;
	background: #2C3E50;
	float: left;
	padding: 1.1em 2em;
}

.nav-bar a:hover, .nav-bar a.nav-button:focus {
	background: #3B556F;
	color: #FFFFFF;
}

.product {
	margin-right: 1.1em;
	border: #BFBFBF 1px solid;
	border-radius: 5px;
	padding: 0.7em;
}

.price {
	font-size: 1.25rem;
	text-align: center;
	margin-bottom: 0.5em;
}

.col-render {
    display: block;
    background: #BDBDBD;
    padding: 2em 0.2em;
    text-align: center;
}

.col-render p {
	-webkit-margin: 0;
	margin: 0;
}

.colour-red {
	background: #E85E5E;
}

.colour-blue {
	background: #2C3E50;
}

.colour-blue p, .colour-red p {
	color: #FFFFFF;
}

@media (max-width: 100em) {
	.nav-bar a {
		width: 100%;
		text-align: center;
	}

	.product {
		width: 100%;
		margin-bottom: 1em;
	}

	.product:last-child {
		margin-bottom: 0em;
	}
}
